.add-category{
    margin-left: 40vh;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(241, 241, 241);
    width: 47vh;
    padding: 4.5vh;
    background-color:rgb(245, 245, 245) ;
    border-radius: 1.4vh;
}


@media only screen and (max-width: 1100px) {
    .add-category{
        margin-left: -1.6vh;
        width: 35vh;
        margin-top: 2vh;
        height: 62vh;
    }

    .inputs{
        width: 32vh;
        font-size: 1.3vh;
        height: 3.5vh;
    }
  }