.tableButton {
  margin-top: 12px;
  margin: 0.4vh;
  width: 3vh;
  height: 2.5vh;
  background: rgb(63, 81, 181);
  box-shadow: 4.7px 9.4px 9.4px hsl(0deg 0% 0% / 0.35);
  border: none;
  color: white;
  border-radius: 1.45vh;
}

.tableButton:hover {
  background-color: rgba(52, 71, 181, 0.819);
  cursor: pointer;
}
.category-header {
  color: grey;
  font-size: 2vh;
  margin-left: 0.5vh;
}

.header-cell {
  color: grey;
  font-size: 2vh;
}

.debit-cell{
  color: red;
}

.credit-cell{
  color: green;
}
